# Original and processed datasets
data/raw/*
data/filtered/*

# Keep directories
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/filtered/.gitkeep

# Python
__pycache__/
.ipynb_checkpoints/
.venv/

### MAC ###
*.DS_Store
*.pyc

# LLM artifacts
*.safetensors